.register-wrp{
    background-image: url(https://c8.alamy.com/comp/2FN5N4G/vector-seamless-pattern-illustration-laundry-cleaning-service-washing-machine-laundry-basket-detergents-iron-clothespins-hanger-linen-domestic-2FN5N4G.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}