.login-wrp{
    background-image: url(https://cdn4.vectorstock.com/i/1000x1000/76/53/seamless-background-of-a-laundry-vector-18067653.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}